
.feedback-container {
    margin-top: 31px;
    float: left;
    flex-grow: 1;
    width: 65%;
    height: 500px;
    object-fit: contain;
    background-color: white;
    border: 1px solid #e9eaee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.grid {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.grid > div {
    display: flex;
    flex-basis: calc(33.33% - 14px);
    flex-direction: column;
}

.grid > div:nth-child(2) {
    display: flex;
    flex-basis: calc(66.66% - 14px);
    flex-direction: column;
}

.grid > div:last-child {
    display: flex;
    margin-top: 0px;
    flex-basis: calc(100% - 22px);
    justify-content: center;
    flex-direction: column;
}

.grid > div > div {
    display: flex;
    flex-direction: row;
}

.box {}
.box1 {}
.box2 {}
.box3 {}
.box4 {}

.box > .label {
    margin-top: 16px;
    margin-left: 20px;
    width: 292px;
    height: 21px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #6b6b6b;
}

.feedback-value {
    margin-left: 20px;
    margin-top: 70px;
    width: 84px;
    height: 35px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.feedback-legend {
    margin-left: 20px;
    margin-top: 30px;
    height: 14px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #a3a3a3;

}
.feedback-line {
    flex: 1;
}
