.results-by-question {
    margin-top: 31px;
    margin-bottom: 5px;
    float: left;
    flex-grow: 1;
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: white;
    border: 1px solid #e9eaee;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.results-by-question > .label {
    margin-left: 25px;
    margin-top: 17px;
    text-align: left;
    height: 28px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: normal;
    color: #6a686d;
}

.results-by-question > .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.results-by-question > .grid > div {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 14px);
    min-height: 280px;
}

.results-by-question > .grid > div > div {
    display: flex;
    flex-direction: row;
}

.results-by-question > .box {
    height: 200px;
    height:-moz-fit-content;
    height:-webkit-fit-content;
    height:fit-content;
}
.results-by-question > div > div.box > div.label {
    margin-bottom: 35px;
    width: 100%;

}

.box1 {}
.box2 {}
.box4 {}

.results-by-question > .box > .label {
    margin-top: 16px;
    margin-left: 25px;
    width: 292px;
    height: 21px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: normal;
    color: #6a686d;
}

.scroll-horizental-histo {
    width: 2px !important;
}

.bar-position {
    margin-left: 25px;
}


.results-by-question > .feedback-legend {
    margin-left: 20px;
    margin-top: 30px;
    height: 14px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #a3a3a3;

}

.results-by-question > .feedback-wrapper {
    margin-left: 21px;
    display: grid;
}
.results-by-question > .feedback-line{
    margin-top:40px;
    width: 100%;
}

.results-by-question > .feedback-wrapper > .line {
    display: flex;
    flex-basis: calc(100% - 14px);
    flex-direction: row;
}
