.App {
  text-align: center;
  height: 100%;
}
.menu {
  float: left;
  width: 148px;
  height: 1883px;
  background-color: #46477e;
}

.App-dashboard {
  margin: 30px;
  float: left;
  height: auto;
  background-color: #fafafa;
}
.App-header {
  text-align: center;
  margin-top: auto;
  height: 62px;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
